[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GreedyExperimentalDesign"]
	path = GreedyExperimentalDesign
	url = https://github.com/kapelner/greedyexperimentaldesign
	subdir = GreedyExperimentalDesign
[submodule "OptimalRerandExpDesigns"]
	path = OptimalRerandExpDesigns
	url = https://github.com/kapelner/optimalrerandexpdesigns
	subdir = OptimalRerandExpDesigns
[submodule "SeqExpMatch"]
	path = SeqExpMatch
	url = https://github.com/kapelner/matching_on_the_fly_designs_r_package_and_paper_repr
	subdir = SeqExpMatch
[submodule "fastLogisticRegressionWrap"]
	path = fastLogisticRegressionWrap
	url = https://github.com/kapelner/fastlogisticregressionwrap
	subdir = fastLogisticRegressionWrap
